<div class="container">
  <h1><%= @cocktail.name %></h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient, collection: @ingredients.order(name: :asc) %>
    <%= f.submit %>
  <% end %>
</div>
