<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <nav class="nav">
    <%= link_to cocktails_path, class: 'nav-home' do %>
      <i class="fa-solid fa-martini-glass-citrus"></i>
    <% end %>
    <%= link_to 'Add cocktail', new_cocktail_path, class: 'nav-add' %>
  </nav>
    <%= yield %>
  </body>
</html>
